/* --- google fonts --- */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* --- Basic setup --- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

/* --- scrollbar hide --- */
::-webkit-scrollbar {
  display: none;
}

/* --- Reusable class --- */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/* --- Mobile nav Slide Effect start --- */
.overly-effect {
  text-align: center;
  color: white;
  padding: 1.25rem 0;
  z-index: 50;
  position: fixed;
  inset: 0;
  background-color: rgba(12, 189, 100, 0.9);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.overly-effect.open {
  transform: translateX(0);
}

.overly-effect.close {
  transform: translateX(-100%);
}
